<% include partials/head %>

<body>
    <header id="header" id="home">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="#">
                        <img src="img/logo.png" alt="" title="" />

                    </a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active">
                            <a href="#home">Home</a>
                        </li>
                        <li>
                            <a href="#feature">Nosotros</a>
                        </li>
                        <li>
                            <a href="#contact">Contacto</a>
                        </li>

                    </ul>
                </nav>
                <!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- #header -->
    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-end">
                <div class="banner-content col-lg-7 col-md-12">
                    <h4 class="text-uppercase">Servicio Tecnico</h4>
                    <h1>
                        QWERTY Repair
                    </h1>
                    <h4>
                        Años de experiencia nos respaldan en el area. Reparamos computadoras de escritorio y notebooks
                    </h4>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- Start feature Area -->
    <section class="feature-area section-gap" id="feature">
        <div class="container">
            <div class="row">
                <% for (var i=0; i< json.servicios.length; i++){ %>
                     <div class="single-feature col-lg-4 mt-5">
                         <img class="img-fluid" src="<%= json.servicios[i].image %>" alt="">
                         <h4><%= json.servicios[i].title %></h4>
                         <p><%= json.servicios[i].description %></p>
                </div>
                <% } %>
    </section>
    <!-- Start about Area -->
    <section class="about-area">
        <div class="container">

        <div class="row no-padding justify-content-center d-flex align-items-center">
        <div class="col-lg-6 ">
                    <h1>
                        Tus datos Primero
                        
                    </h1>
                    <p class="mt-30">
                        Sabemos lo importantes que son tus datos y por eso es lo primero  
                        que ponemos a salvo. Nos manejamos con total confidencialidad 
                         sobre los mismos ya sea en un caso de reinstalacion del sistema  
                         operativo como tambien en un caso de recuperacion de datos.  
                         De la misma procedemos si tenemos que borrar archivos de manera  
                         segura e irrecuperable.
                    </p>
                    
                </div>
                <div class="col-lg-6 about-right no-padding relative">
                    
                <img  src="img/hdd.png" class="img-fluid" alt="">
            </div>
      </div>

            
        </div>
    </section>
    <!-- End about Area -->
    <!-- start contact Area -->
    <section class="contact-area section-gap" id="contact">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-30 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">CONTACTO</h1>
                        <p>Puedes ponerte en contacto con nosotros a traves del siguiente formulario</p>
                    </div>
                </div>
            </div>
            <form class="form-area mt-60" id="myForm" action="/mail" method="POST" class="contact-form text-right">
                <div class="row">
                    <div class="col-lg-6 form-group">
                        <input name="name" placeholder="Ingrese su nombre" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'"
                            class="common-input mb-20 form-control" required="" type="text">

                        <input name="email" placeholder="Ingrese su email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control" required=""
                            type="email">

                        <input name="subject" placeholder="Asunto" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your subject'"
                            class="common-input mb-20 form-control" required="" type="text">
                    </div>
                    <div class="col-lg-6 form-group">
                        <textarea class="common-textarea mt-10 form-control" name="message" placeholder="Messege" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Mensaje'" required=""></textarea>
                        <button class="primary-btn mt-20">Enviar
                            <span class="lnr lnr-arrow-right"></span>
                        </button>
                        <div class="mt-10 alert-msg">
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </section>
    <% include partials/footer %>